:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* line-height: 1; */
    color: #444;
}

body {
    background-color: #fff5f5;
}
